<p style="color: green"><%= notice %></p>
<% counter = 0 %>
<p>
  <% while counter != @shoes.length%>
    <%= render @shoes[counter]%>
    <p> Stock:<%= rand(1...100) %> </p>
    <% counter = counter + 1 %>
  <% end %>
</p>
<div>
  <%= link_to "Edit this store", edit_store_path(@store) %> |
  <%= link_to "Back to stores", stores_path %>

  <%= button_to "Destroy this store", @store, method: :delete %>
</div>
